@import url('https://fonts.googleapis.com/css2?family=Chango&family=Monsieur+La+Doulaise&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;

}

a:link, a:visited, a:active {
    text-decoration: none;
    color: none;

}

html {
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
}
/*Header*/

#idheader {
    background-color:#231123ff;
    user-select: none;

}

.header-logo {
    float: left;
    padding: 10px 20px;
    filter: invert(100%);
    margin-right: 80px;
    line-height: normal;
}

.header-title {
    float: left;
    padding: 25px 0px 0px 0px;
    font-size: 6rem;
    font-family: 'Monsieur La Doulaise', cursive;
    filter: invert(100%);
    line-height: normal;
} 

header nav.header-navbar {
    clear: both;
    background-color: #968e85ff;
    padding: 5px;
    line-height: normal;
    box-sizing: content-box;

}

header ul#list-header {
    list-style: none;
    text-align: center;
    display: flex;
    place-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;


}

header ul#listheader li, header ul#list-header a{
    font-weight: 700;
    font-size: 1.5rem;
    display: inline;
    font-family:'Times New Roman', Times, serif;
    color: black;
}

header a:hover{
    color: #ebf8b8ff;
}

#menu, #menu-check{
    display: none;
}

@media only screen and (max-width: 700px){
    /* MENU HAMBURGUESA */
    .header-logo {
        display: none;
    }

    .header-title {
        text-align: justify;
        float: none;
        text-align: center;
    }

    #menu-check:not(:checked) ~ nav {
        display: none;
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        font-size: 2rem;
        background-color: #ffe787ff;
        font-weight: bold;
        border: 3px solid #ffe787ff;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        padding-bottom: 0.1em;
        z-index: 9999;

    }

    #menu:hover{
        color:#ffe787ff;
        background-color: black;
    }

    #menu-close{
        display: none;
    }

    #menu-check:checked ~ label #menu-open {
            display: none;
        }

    #menu-check:checked ~ label #menu-close {
            display: block;
        }

    header nav.header-navbar {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #968e85ff;
        padding-top: 3rem;
        padding-right: 4rem;
        opacity: 0.8;
        color: white;
        
    }

    header nav ul#list-header a {
        color: white;
        background: none;

    }
    
    .header-navbar ul#list-header, .header-navbar li {
        display: block;
        text-align: right;
        margin: 1.5rem 0 0 0 0;
        width: 100%;

    }



    main {
        text-align: center;
    }
    

    /* HASTA AQUI MENU HAMBURGUESA */

}


/*Hasta aquí el header*/



/*Cards de las catas*/
.catas {
    width: 100%;
    min-height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}

.catas .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;

}

.catas .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.catas .card img{
    width: 330px;
    height: 220px;
}

.catas .card h4{
    font-weight: 600;
    font-size: 25px;
}

.catas .card p{
    padding: 0.1rem;
    font-size: 1rem;
    font-weight: 300;

}

.catas .card a{
    font-weight: 500;
    color: #60674dff;
}

/*Aqui el css del store*/

.store {
    padding: 2rem 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.storeItem {
    background-color: white;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    align-items: center;

}

:hover.storeItem{
    transform: scale(1.05,1.05);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.image{
    width: 100%;
}

.btn {
    background-color: tomato;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
}

/*Hasta aqui el store*/
/*Aqui el css del formulario*/

.form-container{
    width: 70%;
    margin: 3rem;
}

/*Hasta aqui, esta hecho con bootstrap*/
/*Aqui el css de quienes somos*/

.container div {
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.container .info1 img {
    max-width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.65);
    position: relative;


}

#image-sn {
    min-width: 30px;
    width: 40%;
    padding-top: 2rem;
    padding-left: 2rem;

}

#text {
    padding-left: 20px;

}

.container h1 {
    font-size: 3vw;
    position: relative;
    padding: 2rem;
    font-family: 'Chango', cursive;
    
}

#info {
    font-size: 2vw;
    position: relative;
    text-align: center;
    padding-top: 3rem;
    font-family: 'Chango', cursive;

}

.container div::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.25);
    
}

.info1 {
    background-image: url(/src/Images/info1.jpg);
    display: inline-flex;

}

.info2 {
    background-image: url(/src/Images/info2.jpg);
    display: flex;
    align-items: center;

}

.info3 {
    background-image: url(/src/Images/info3.jpg);
    display: flex;
    align-items: center;

}

.info4 {
    background-image: url(/src/Images/info4.jpg);
    display: flex;
    align-items: center;

}

.info5 {
    background-image: url(/src/Images/info5.jpg);
    display: flex;
    align-items: center;

}

/*Hasta aqui el css de quienes somos*/
/*Aqui el css del footer*/

#idfooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #60674dff;
    user-select: none
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-self: center;
    margin: 10px;
}


.footer-text, footer h2{
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #212529;
}

/*Aqui el css del slider*/

*{
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .container-slider{
    display:none;
    }
    }
body{
    display: flex;
    min-height: 100vh;
    
}
.container-slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 15px 30px;
    position: relative;
}

.slider{
    display: flex;
    width: 300%;
    height: 400px;
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position:absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;

    border-radius: 50%;
    cursor: pointer;
}

.slider__btn: hover{
}
.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right: 10px;
}

.text {
    font-style: italic;
    font-weight: bolder;
    color: black;
    font-size: 23px;
    padding: 20px 100px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: left;
  }

  .texto {
    font-family: ;
    font-style: italic;
    font-weight: bolder;
    color: black;
    font-size: 23px;
    padding: 22px 60px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: left;
  }
  
  a.button {
    font-style: normal;
    background: transparent;
    text-decoration:underline;
    color: black;
}
/*Hasta aqui*/

/*Hasta aqui*/


/* PALETAS DE COLORES */
/* CSS HEX
--dark-purple: #231123ff;
--forest-green-traditional: #293f14ff;
--ebony: #60674dff;
--middle-grey: #968e85ff;
--pale-spring-bud: #ebf8b8ff;
--yellow-crayola: #ffe787ff;

CSS HSL
--dark-purple: hsla(300, 35%, 10%, 1);
--forest-green-traditional: hsla(91, 52%, 16%, 1);
--ebony: hsla(76, 14%, 35%, 1);
--middle-grey: hsla(32, 7%, 55%, 1);
--pale-spring-bud: hsla(72, 82%, 85%, 1);
--yellow-crayola: hsla(48, 100%, 76%, 1);

SCSS HEX
$dark-purple: #231123ff;
$forest-green-traditional: #293f14ff;
$ebony: #60674dff;
$middle-grey: #968e85ff;
$pale-spring-bud: #ebf8b8ff;
$yellow-crayola: #ffe787ff;

SCSS HSL 
$dark-purple: hsla(300, 35%, 10%, 1);
$forest-green-traditional: hsla(91, 52%, 16%, 1);
$ebony: hsla(76, 14%, 35%, 1);
$middle-grey: hsla(32, 7%, 55%, 1);
$pale-spring-bud: hsla(72, 82%, 85%, 1);
$yellow-crayola: hsla(48, 100%, 76%, 1);

SCSS RGB
$dark-purple: rgba(35, 17, 35, 1);
$forest-green-traditional: rgba(41, 63, 20, 1);
$ebony: rgba(96, 103, 77, 1);
$middle-grey: rgba(150, 142, 133, 1);
$pale-spring-bud: rgba(235, 248, 184, 1);
$yellow-crayola: rgba(255, 231, 135, 1);

CSS Gradient
$gradient-top: linear-gradient(0deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-right: linear-gradient(90deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-bottom: linear-gradient(180deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-left: linear-gradient(270deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-top-right: linear-gradient(45deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-bottom-right: linear-gradient(135deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-top-left: linear-gradient(225deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-bottom-left: linear-gradient(315deg, #231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff);
$gradient-radial: radial-gradient(#231123ff, #293f14ff, #60674dff, #968e85ff, #ebf8b8ff, #ffe787ff); */


